/* app css stylesheet */

/************* BACKGROUND *************/
#home {
	background: url(../images/star-background.jpg) 50% 0 repeat fixed;
}

/************* NAVBAR *************/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}


/************* BUTTONS *************/
.btn-lg {
	text-align: center;
}

.btn-primary,
.btn-warning {
	height: 				40px;
	background-color: 		#D9E021;
	font-size: 				2em;
	color: 					#333333;
	border:					solid 1px #333333;
	padding: 				0 0.5em;
	border: 				none;
	-webkit-transition:  	0.2s ease-in-out;
	-moz-transition: 		0.2s ease-in-out;;
	-o-transition: 			0.2s ease-in-out;
	transition: 			0.2s ease-in-out;
}

.btn-primary:hover,
.btn-warning:hover {
	background-color: 		#333333;
	color: 					#D9E021;
	border: 				solid 1px #D9E021;
}

#gobtn, #restartbtn, #enterinfobtn {
	margin: 				1em 0;
}

#plntrstrtbtn, #planetsbtn {
	font-size: 				1.5em;
	margin: 				1em 0.5em 1em 0.5em;
}


/************* PLANET LIST *************/
.planetList{
	list-style: none;
}

.planetList li{
	width:  				45%;
	display: 				inline-block;
	padding-left: 			2.5%;
	padding-right: 			2.5%;
	padding-bottom: 		2em;
}

.planetList li img{
	width:100%;
}

ul.planetList {
	padding: 				0;
	margin: 				2em auto;
}

ul.planetList li a {
	text-align: 			center;
}

ul.planetList a img {
	padding-bottom: 		1em;
	-webkit-transition:  	0.2s ease-in-out;
	-moz-transition: 		0.2s ease-in-out;;
	-o-transition: 			0.2s ease-in-out;
	transition: 			0.2s ease-in-out;
}

ul.planetList a:hover img {
	-webkit-transform: 		scale(1.1);
}

ul.planetList a {
	-webkit-transition:  	0.2s ease-in-out;
	-moz-transition: 		0.2s ease-in-out;;
	-o-transition: 			0.2s ease-in-out;
	transition: 			0.2s ease-in-out;
}

ul.planetList a:hover {
	text-decoration: 		none;
	color: 					#FFFFFF;
	-webkit-transform: 		scale(1.1);
}

ul.planetdet {
	list-style: 			none;
	text-align: 			left;
	padding: 				0;
}

/************* GENERAL **************/

.top{
	margin-top:25px;
}


.navbar-brand {
	width: 100% !important;
	text-align: center;
}

.navbar-header img {
	display: block;
	width: 300px;
	margin: 0 auto;
}

.form-group {
	color: 					#FFFFFF;
	text-align: 			left;
	font-weight: 			thin;
}

.form-group input {
	height: 				40px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, a {
	font-family: 			'Roboto', sans-serif;
	color: 					#FFFFFF;
	font-weight: 			400;
}

h1 {
	color: 					#D9E021;
}

h3 {
	margin: 				2em 0;
}

.content {
	text-align: 			center;
	max-width: 				600px;
	margin: 				0 auto;
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	min-height:				40em;
	height: 				100%;
	padding: 				2em;
}

#footer {
	font-size: 10px;
	text-align: center;
}

/************* IMAGES *************/

figure.logoimg {
	padding: 				2em 1em;
	margin-bottom: 			4em;
	background-color: 		#4D4D4D;
}

figure.logoimg img {
	width: 					100%;
	max-width: 				600px;
}

